[submodule "chapter-02/sonic-buildimage"]
	path = chapter-02/sonic-buildimage
	url = https://github.com/spaceraccoon/sonic-buildimage.git
[submodule "chapter-04/cve-2021-46143/libexpat"]
	path = chapter-04/cve-2021-46143/libexpat
	url = https://github.com/spaceraccoon/libexpat.git
[submodule "chapter-09/aflplusplus-libredwg/libredwg"]
	path = chapter-09/aflplusplus-libredwg/libredwg
	url = https://github.com/spaceraccoon/libredwg.git
