[submodule "chapter-01/sonic-buildimage"]
	path = chapter-01/sonic-buildimage
	url = https://github.com/spaceraccoon/sonic-buildimage.git
[submodule "chapter-03/cve-2021-46143/libexpat"]
	path = chapter-03/cve-2021-46143/libexpat
	url = https://github.com/spaceraccoon/libexpat.git
[submodule "chapter-08/aflplusplus-libredwg/libredwg"]
	path = chapter-08/aflplusplus-libredwg/libredwg
	url = https://github.com/spaceraccoon/libredwg.git
